body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e0c9a6;
}
nav{
    background-color: #1c2341;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
.container{
    padding: 20px;
}
h1,h2{
    text-align: center;
    margin: 10px 0;
}
.button{
    background-color: #1c2341;
    color:white;
    border:none;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover{
    background-color: #333a60;
}
.exercise-section{
    background-color: #4682b4;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}
.exercise-card{
    display: inline-block;
    width: 30%;
    background:white;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}